.about-us {
  margin: 0 auto;
  padding-bottom: 27px;
  //overflow: hidden; //TODO overflow

  @include tablet() {
    padding-bottom: 85px;
  }

  @include desktop() {
    padding-bottom: 83px;
    max-width: 1150px;
    margin: 0 auto;
  }
}

.about-us__wrapper {
  padding: 0 32px;
  margin: 0 auto;

  @include tablet() {
    padding: 0 50px;
  }

  @include desktop() {
    padding: 0 223px;
    padding-top: 59px;
  }
}

.about-us__title {
  font-size: 25px;
  line-height: 30px;
  color: #000000;
  font-family: "OpenSansBold", "Arial", sans-serif;
  font-weight: bold;
  margin: 0;
  padding-top: 27px;

  @include tablet() {
    font-size: 43px;
    line-height: 50px;
    padding-top: 49px;
  }

  @include desktop() {
    padding-top: 0;
    font-size: 53px;
    line-height: 57px;
  }
}

.about-us__list {
  list-style: none;
  padding: 0;
  margin: 0;

  @include tablet() {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @include desktop() {
    justify-content: space-around;
  }
}

.about-us__item {
  padding-top: 30px;

  @include tablet() {
    width: 326px;
    padding-top: 49px;
  }

  @include desktop() {
    padding-right: 26px;
  }
}

.about-us__text {
  font-size: 17px;
  line-height: 20px;
  color: #000000;
  font-family: "OpenSansBold", "Arial", sans-serif;
  font-weight: bold;
  margin-bottom: 4px;

  @include tablet() {
    padding-right: 93px;
    font-size: 20px;
    line-height: 22px;
  }

  @include desktop() {
    padding-right: 87px;
  }
}

.about-us__img {
  width: 50px;
  height: 50px;
}

.about-us__eco {
  @include tablet() {
    order: 1;
  }
}

.about-us__eco-text {
  @include desktop() {
    margin-top: 15px;
  }
}

.about-us__eco-img {
  fill: #63d1bb;
  width: 32px;
  height: 37px;

  @include desktop() {
    padding-left: 9px;
  }
}

.about-us__rus-price {
  @include tablet() {
    order: 3;
  }

  @include desktop() {
    padding-top: 53px;
  }
}

.about-us__rus-price-img {
  fill: #63d1bb;
  width: 47px;
  height: 27px;
}

.about-us__rus-price-text {
  @include desktop() {
    margin-top: 22px;
  }
}

.about-us__likes {
  @include tablet() {
    order: 5;
  }

  @include desktop() {
    padding-top: 58px;
  }
}

.about-us__likes-img {
  fill: #63d1bb;
  width: 34px;
  height: 27px;

  @include desktop() {
    padding-left: 9px;
  }
}

.about-us__handmade {
  @include tablet() {
    order: 2;
  }
}

.about-us__handmade-img {
  fill: #63d1bb;
  width: 35px;
  height: 34px;
}

.about-us__production {
  @include tablet() {
    order: 4;
  }

  @include desktop() {
    padding-top: 56px;
  }
}

.about-us__handmade-text {
  @include desktop() {
    margin-top: 18px;
  }
}

.about-us__production-img {
  fill: #63d1bb;
  width: 55px;
  height: 23px;
}

.about-us__production-text {
  @include desktop() {
    margin-top: 23px;
  }
}

.about-us__pack {
  @include tablet() {
    order: 6;
  }

  @include desktop() {
    padding-top: 55px;
  }
}

.about-us__pack-img {
  fill: #63d1bb;
  width: 33px;
  height: 32px;
}
