.catalog-main__articles {
  overflow: hidden;

  @include tablet() {
    margin-top: 67px;
  }

  @include desktop() {
    margin-right: auto;
    margin-left: auto;
    max-width: 1150px;
  }
}

//----------------------------------Секция товаров------------------------------
.articles__list {
  margin: 0;
  padding: 0;

  @include desktop() {
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 55px;
  }
}

//----------------------------------Блок товара------------------------------
.articles__item {
  list-style: none;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
  border: 1px solid #f1f1f1;
  display: block;

  &:hover,
  &:focus {
    box-shadow: 0 6px 10px rgba(#000000, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(#000000, 0.1);
  }

  @include tablet() {
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 52px;
    justify-content: space-between;
  }

  @include media(1024px) {
    justify-content: space-around;
  }

  @include desktop() {
    flex-direction: column;
    justify-content: flex-start;
    max-width: 316px;
    margin: 0;
  }
}

//----------------------------------Фото товара и ссылка------------------------------
.articles__link-image {
  width: 260px;
  height: 195px;
  display: block;
  margin: 0 auto;

  @include tablet() {
    width: 50%;
    margin: 0;

  }

  @include desktop() {
    width: 316px;
    height: 462px;
  }
}

.articles__image {
  width: 260px;
  height: 195px;

  @include tablet() {
    width: 334px;
    height: 334px;
  }

  @include desktop() {
    width: 316px;
    height: 462px;
    display: block;
  }
}

//----------------------------------Блок описания товара------------------------------
.articles__description {
  display: flex;
  flex-direction: column;
  padding-left: 28px;
  padding-right: 28px;
  padding-top: 27px;
  padding-bottom: 26px;

  @include tablet() {
    justify-content: space-between;
    //min-width: 265px;
    width: 50%;
    padding-right: 32px;
    margin-left: 5px;
  }

  @include desktop() {
    padding-top: 25px;
    height: 100%;
  }
}

//----------------------------------Ссылка на товар------------------------------
.articles__link-name {
  text-decoration: none;
}

.articles__link-name[href] {
  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

//----------------------------------Название товара------------------------------
.articles__title {
  font-size: 17px;
  line-height: 24px;
  font-family: "OpenSansBold", "Arial", sans-serif;
  font-weight: bold;
  margin: 0;
  display: inline-block;

  @include tablet() {
    font-size: 20px;
    padding-right: 42px;
  }

  @include desktop() {
    padding-right: 35px;
  }
}

//----------------------------------Характеристики товара------------------------------
.articles__options {
  font-size: 13px;
  line-height: 30px;
  color: #444444;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 20px;

  @include tablet() {
    font-size: 15px;
  }

  @include desktop() {
    padding-bottom: 0;
  }
}

//----------------------------------Блок цены и покупки товара------------------------------
.articles__buy {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding-top: 20px;
  border-top: 1px solid #ebebeb;

  @include desktop() {
    margin-top: 14px;
  }
}

//----------------------------------Цена товара------------------------------
.articles__price {
  font-size: 15px;
  line-height: 24px;
  color: #000000;
  font-family: "OpenSansBold", "Arial", sans-serif;
  font-weight: bold;

  @include tablet() {
    font-size: 17px;
  }
}

//----------------------------------Добавление товара в корзину------------------------------
.articles__cart-image {
  fill: #d9d9d9;

  @include desktop() {
    padding-right: 9px;
  }
}

.articles__cart[href] .articles__cart-image {
  width: 21px;
  height: 18px;
  fill: #d3d2d2;
}

.articles__cart[href]:hover .articles__cart-image {
  fill: #63d1bb;
}

.articles__cart[href]:focus .articles__cart-image {
  fill: #63d1bb;
}

.articles__cart[href]:active .articles__cart-image {
  fill: rgba(#63d1bb, 0.3);
}
