.catalog-main__production {
  margin: 0 auto;
  margin-top: 26px;
  margin-bottom: 58px;

  @include tablet() {
    margin-bottom: 63px;
  }

  @include desktop() {
    margin-top: 57px;
    margin-bottom: 105px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1150px;
  }
}

//---------------------------Обертка производства-----------------------------------
.production__wrapper {
  margin-left: 30px;
  margin-right: 29px;
  display: flex;
  flex-direction: column;
  border: 1px solid #f1f1f1;

  &:hover,
  &:focus {
    box-shadow: 0 6px 10px rgba(#000000, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(#000000, 0.1);
  }

  @include tablet() {
    margin-left: 50px;
    margin-right: 50px;
    min-width: 668px;
    margin-top: 51px;
  }

  @include desktop() {
    position: relative;
    min-height: 455px;
  }
}
//---------------------------Блок заголовка-----------------------------------
.production__block {
  display: flex;
  align-items: center;
  padding-top: 28px;
  padding-bottom: 25px;
  padding-left: 34px;
  padding-right: 34px;

  @include tablet() {
    order: 2;
    padding-left: 40px;
    padding-top: 29px;
    padding-bottom: 0;
  }

  @include desktop() {
    padding-left: 760px;
    padding-right: 150px;
    padding-top: 30px;
    flex-direction: column;
    align-items: start;
  }
}

//---------------------------Иконка заголовка-----------------------------------
.production__icon {
  fill: #63d1bb;
  //padding-left: 34px;
  padding-right: 25px;
  //width: 32px;
  //height: 22px;

  @include desktop() {
    padding-bottom: 25px;
  }
}

//---------------------------Заголовок производства-----------------------------------
.production__title {
  font-size: 17px;
  line-height: 24px;
  font-family: "OpenSansBold", "Arial", sans-serif;
  font-weight: bold;
  margin: 0;

  @include tablet() {
    font-size: 20px;
  }
}

//---------------------------Видео производства-----------------------------------
.production__video {
  height: 150px;
  width: 260px;
  background-image: url("../img/video-mobile@1x.jpg");
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  @include tablet() {
    width: 668px;
    height: 455px;
    background-image: url("../img/video-tablet@1x.jpg");
    order: 1;
  }

  @include desktop() {
    width: 682px;
    background-image: url("../img/video-desktop@1x.jpg");
    position: absolute;
  }
}

.production__play {
  position: absolute;
  content: "";
  display: block;
  width: 101px;
  height: 77px;
  background-color: transparent;
  border: none;
  background-image: url("../img/icon-play.svg");
  //top: 27%;
  //left: 33%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;

  //@include tablet() {
  //  top: 43%;
  //  left: 42%;
  //}
  //
  //@include desktop() {
  //  top: 42%;
  //  left: 43%;
  //}

  &:hover,
  &:focus {
    transform: translate(-50%, -50%) scale(1.2);
  }

  &:active {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0.3;
  }
}
//---------------------------Второй блок производства-----------------------------------
.production__block-second {
  padding-top: 25px;
  padding-left: 34px;
  padding-right: 34px;
  padding-bottom: 33px;

  @include tablet() {
    order: 3;
    padding-left: 40px;
    padding-right: 41px;
    padding-bottom: 43px;
  }

  @include desktop() {
    padding-left: 760px;
    padding-right: 57px;
    padding-top: 33px;
  }
}

//---------------------------Описание производства-----------------------------------
.production__description {
  font-size: 13px;
  line-height: 24px;
  color: #444444;
  margin: 0;
  padding-bottom: 25px;

  @include tablet() {
    font-size: 15px;
    line-height: 30px;
    padding-bottom: 33px;
  }

  @include desktop() {
    padding-bottom: 46px;
  }
}

//---------------------------Кнопка заказа-----------------------------------
.production__order-toggle {
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  margin: 0 auto;
}
