.catalog-main__title-block {
  background-color: #f1f1f1;
  padding-top: 70px;
  padding-bottom: 77px;

  @include tablet() {
    padding-top: 96px;
    padding-bottom: 90px;
    position: relative;

    &::after {
      position: absolute;
      display: block;
      content: "";
      background-image: url("../img/bg-zigzag-fill.svg");
      background-size: contain;
      height: 24px;
      width: 100%;
      bottom: -2px;
    }

    @include desktop() {
      &::after {
        height: 34px;
        bottom: -11px;
      }
    }
  }

  @include desktop() {
    padding-top: 93px;
    padding-bottom: 110px;
  }
}

.catalog-main__title {
  font-size: 27px;
  line-height: 30px;
  margin: 0;

  @include tablet() {
    font-size: 43px;
    line-height: 50px;
  }

  @include desktop() {
    font-size: 53px;
    line-height: 57px;
  }
}
