.contacts {
  @include desktop() {
    position: relative;
    padding-left: 50px;
    padding-right: 50px;
    max-width: 1050px;
    margin: 0 auto;
  }
}

.contacts__wrapper-top {
  padding-right: 32px;
  padding-left: 29px;
  margin: 0 auto;
  padding-top: 34px;
  padding-bottom: 36px;

  @include tablet() {
    padding: 0 50px;
    padding-top: 45px;
    padding-bottom: 56px;
  }

  @include desktop() {
    padding-top: 127px;
    padding-bottom: 47px;
  }
}

.contacts__wrapper-bottom {
  padding: 0 32px;
  margin: 0 auto;
  padding-bottom: 35px;

  @include tablet() {
    padding: 0 50px;
    padding-bottom: 55px;
  }

  @include desktop() {
    padding-bottom: 100px;
  }
}

.contacts__title-block {
  @include tablet() {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }

  @include desktop() {
    justify-content: start;
    padding-left: 10px;
  }
}

.contacts__flag {
  display: none;

  @include tablet() {
    display: block;
  }

  @include desktop() {
    order: 1;
    padding-right: 60px;
  }
}

.contacts__title {
  font-size: 18px;
  line-height: 30px;
  font-family: "OpenSansBold", "Arial", sans-serif;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 25px;

  @include tablet() {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 0;
  }

  @include desktop() {
    order: 2;
    font-size: 53px;
    line-height: 57px;
  }
}

.contacts__data {
  font-size: 15px;
  line-height: 30px;
  color: #444444;

  @include tablet() {
    display: flex;
    font-size: 17px;
    padding-top: 32px;
  }

  @include desktop() {
    flex-direction: column;
    padding-left: 120px;
    padding-right: 525px;
    margin-bottom: 30px;
    padding-top: 36px;
  }
}

.contacts__row {
  display: flex;
  justify-content: space-between;
}

.contacts__row--email {
  margin-bottom: 32px;

  @include tablet() {
    margin-right: 50px;
  }
}

.contacts__name {
  margin-right: 28px;

  @include tablet() {
    min-width: 55px;
    margin-right: 23px;
  }
}

.contacts__link {
  text-decoration: none;
  position: relative;

  &:hover,
  &:focus {
    color: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }

  &::after {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #27a08e;
  }
}

.contacts__address {
  font-style: normal;
  padding-right: 40px;

  @include tablet() {
    padding-right: 0;
  }
}

.contacts__parameter {
  vertical-align: top;
  width: 60px;
}

.contacts__map {
  height: 455px;
  background-image: url("../img/map-mobile@1x.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  margin-bottom: 41px;

  @include tablet() {
    width: 768px;
    height: 457px;
    background-image: url("../img/map-tablet@1x.jpg");
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 55px;
  }

  @include desktop() {
    position: absolute;
    width: 525px;
    background-image: url("../img/map-desktop@1x.jpg");
    top: 70px;
    right: 46px;
  }
}

.contacts__toggle {
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  position: relative;
  margin: 0 auto;
  //margin-bottom: 35px;
  //width: 255px;
  font-size: 18px;
  line-height: 20px;

  @include tablet() {
    font-size: 17px;
    width: max-content;
    padding-left: 38px;
    padding-right: 38px;
  }

  @include desktop() {
    margin-left: 128px;
    margin-bottom: 0;
  }
}
