.feedback {
  width: 320px;
  margin: 0 auto;
  border-bottom: 1px solid #000000;
}

.feedback__wrapper {
  padding: 0 32px;
  margin: 0 auto;
}

.feedback__title {
  font-size: 25px;
  line-height: 30px;
  color: #000000;
  font-family: "OpenSansBold", "Arial", sans-serif;
  font-weight: bold;
}

.slider {
  margin-bottom: 20px;
}

.slider__item {
  margin: 0;
}

.slider__author {
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  font-family: "OpenSansBold", "Arial", sans-serif;
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 5px;
}

.slider__tweet {
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: normal;
}

.feedback__toggle {
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  position: relative;
  margin: 0 auto;
  margin-bottom: 35px;
  width: 255px;
}
