.footer {
  width: 320px;
  margin: 0 auto;
  text-align: center;
  background-color: #f1f1f1;
}

.footer__social {
  padding-top: 25px;
  border-bottom: 1px solid #e5e5e5;
}

.copyright__text {
  font-size: 19px;
  line-height: 18px;
  color: #000000;
  font-family: "OpenSansBold", "Arial", sans-serif;
  font-weight: bold;
}

.footer__copyright {
  padding-top: 20px;
  padding-bottom: 20px;
}
