.footer {
  background-color: #f1f1f1;
}

.footer__wrap {
  text-align: center;
  padding: 0 30px;

  @include tablet() {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px;
  }

  @include desktop() {
    padding-left: 50px;
    padding-right: 50px;
    max-width: 1150px;
    margin: 0 auto;
  }
}

.footer__social {
  border-bottom: 1px solid #e5e5e5;

  @include tablet() {
    border-bottom: none;
    margin-left: 39px;
    margin-top: 5px;
    width: 181px;
  }
}

.social__list {
  list-style: none;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  @include tablet() {
    padding: 0;
  }

  @include desktop() {
    padding-top: 9px;
  }
}

.social__item {
  @include tablet() {
    margin: 0 15px;
  }
}

.social__link[href] .search-img {
  fill: #221f1f;
}

.social__link[href]:hover .search-img {
  fill: #63d1bb;
}

.social__link[href]:focus .search-img {
  fill: #63d1bb;
}

.social__link[href]:active .search-img {
  fill: rgba(#63d1bb, 0.3);
}


.copyright__text {
  font-size: 19px;
  line-height: 18px;
  font-family: "OpenSansBold", "Arial", sans-serif;
  font-weight: bold;

  @include tablet() {
    margin-right: 27px;
  }

  @include desktop() {
    margin-right: 21px;
  }
}

.footer__copyright {
  padding-top: 11px;
  padding-bottom: 20px;
  //display: flex;
  //justify-content: space-between;
  //align-items: center;
  padding-left: 40px;
  padding-right: 40px;

  @include tablet() {
    padding: 0;
  }
}

.copy-right__link {
  padding-top: 5px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include desktop() {
    padding-top: 9px;
  }
}

.copy-right__link[href] {
  color: #000000;

  &:hover,
  &:focus {
    color: rgba(#000000, 0.6);
  }

  &:active {
    color: rgba(#000000, 0.3);
  }
}

.copyright-img {
  fill: #63d1bb;
}

.copy-right__link[href]:hover .copyright-img,
.copy-right__link[href]:focus .copyright-img {
  fill: #45c1ae;
}

.copy-right__link[href]:active .copyright-img {
  fill: rgba(#45c1ae, 0.3);
}

//---------------------------------------------------------------------------------------
.search-img {
  fill: #63d1bb;
}

.footer__logo {
  display: none;

  @include tablet() {
    display: block;
    margin-right: 50px;
  }
}

.footer__logo-link[href]:hover .footer__logo {
  fill: #63d1bb;
}

.footer__logo-link[href]:focus .footer__logo {
  fill: #63d1bb;
}

.footer__logo-link[href]:active .footer__logo {
  fill: rgba(#63d1bb, 0.3);
}
