.goods {
  @include tablet() {
    position: relative;
    margin: 0 50px;
  }

  @include desktop() {
    max-width: 1050px;
    margin: 0 auto;
  }
}

.goods__list {
  margin: 0;
  padding: 0;

  @include tablet() {
    position: absolute;
    top: -120px;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  @include desktop() {
    justify-content: space-between;
  }
}

.goods__item {
  margin: 0;
  list-style: none;

  @include tablet() {
    min-height: 110px;
  }

  @include desktop() {
    width: 100%;
  }
}

.goods__link {
  display: flex;
  justify-content: space-around;
  //height: 100%;
  margin: 0;
  text-decoration: none;
  color: #ffffff;
  font-size: 19px;
  line-height: 24px;
  font-family: "OpenSansBold", "Arial", sans-serif;
  font-weight: bold;
  padding-top: 23px;
  padding-bottom: 19px;

  @include tablet() {
    font-size: 20px;
    line-height: 30px;
    padding-top: 28px;
    padding-bottom: 26px;
  }

  @include desktop() {
    //padding-right: 375px;
    padding-left: 35px;
    padding-top: 29px;
    padding-bottom: 29px;
  }
}

.goods__item:hover {
  //padding-bottom: 5px;
  transform: scale(1, 1.8);
}

.goods__text {
  margin-left: 29px;
  margin-right: 65px;
  width: 50%;

  @include tablet() {
    margin-left: 28px;
    margin-right: 49px;
  }

  @include desktop() {
    margin-left: 0;
    margin-right: 65px;
  }
}

.goods__img {
  width: 50%;

  @include desktop() {
    margin-left: 190px;
  }
}

.goods__item--interior {
  background-color: #63d1bb;
}

.goods__img--interior {
  fill: #27a08e;
}

.goods__item--toys {
  background-color: #55c3b2;
}

.goods__img--toys {
  fill: #34a998;
}
