.goods {
  margin: 0 auto;
  padding: 0;
}

.goods__list {
  margin: 0;
  padding: 0;
}

.goods__item {
  margin: 0;
  list-style: none;
}

.goods__item a {
  display: block;
  height: 100%;
  margin: 0;
  text-decoration: none;
  color: #ffffff;
  font-size: 19px;
  line-height: 24px;
  font-family: "OpenSansBold", "Arial", sans-serif;
  font-weight: bold;
  padding-top: 29px;
  padding-bottom: 29px;
  padding-right: 180px;
  padding-left: 29px;
}

.goods__item--interior {
  background-color: #63d1bb;
}

.goods__item--toys {
  background-color: #55c3b2;
}

@media (min-width: $tablet-width) {
  .goods {
    position: relative;
  }

  .goods__list {
    position: absolute;
    top: -105px;
    display: flex;
    justify-content: center;
    flex-basis: 0;
    padding-left: 50px;
    padding-right: 50px;
  }

  .goods__item {
    min-height: 110px;
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
    font-family: "OpenSansBold", "Arial", sans-serif;
    font-weight: bold;
  }
}
