.form__group {
  margin: 0;
  padding: 0;
  padding-bottom: 31px;
  border-top: 1px solid #62d1ba;
  border-left: none;
  border-right: none;
  border-bottom: none;

  @include tablet() {
    position: relative;
    border-top: none;
    padding-top: 30px;
    padding-bottom: 0;
  }
}

.form__legend {
  font-size: 17px;
  line-height: 16px;
  color: #63d1bb;
  font-family: "OpenSansBold", "Arial", sans-serif;
  font-weight: bold;
  position: relative;
  padding-right: 27px;
  margin-bottom: 13px;
  text-transform: uppercase;

  @include tablet() {
    position: absolute;
    top: 50px;
    left: 0;
  }
}

.form__wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  //align-items: stretch;


  @include tablet() {
    flex-direction: column;
    margin-left: 165px;
    padding-bottom: 30px;
  }

  @include desktop() {
    margin-left: 111px;
    padding-bottom: 29px;
  }
}

.label__text {
  font-size: 17px;
  line-height: 18px;
  color: #000000;
  font-family: "OpenSansBold", "Arial", sans-serif;
  font-weight: bold;
  display: inline-block;
  padding-left: 22px;

  @include tablet() {
    font-size: 19px;
    padding-left: 29px;
  }
}

//-------------------------------Оформление RADIO-------------------------------------
.form__type {
  @include tablet() {
    background-color: #ffffff;
  }
}

.label__radio {
  display: flex;
  align-items: center;
  margin-top: 16px;

  @include tablet() {
    margin-top: 0;
    margin-bottom: 23px;
  }
}

.radio {
  display: none;
}

.radio-custom {
  position: relative;
  min-width: 36px;
  min-height: 36px;
  border: 2px solid #434343;
  border-radius: 50%;
  cursor: pointer;

  @include tablet() {
    min-width: 48px;
    min-height: 48px;
  }
}

//--------------------------------------Замена цвета при наведении------------------
.radio:hover + .radio-custom,
.checkbox:hover + .checkbox-custom,
.radio:focus + .radio-custom,
.checkbox:focus + .checkbox-custom {
  border-color: #61d1b9;
}

.radio:active + .radio-custom,
.checkbox:active + .checkbox-custom {
  border-color: #c6c6c6;
}

//-------------------------------------------------------------------------------------
.radio:checked + .radio-custom::before {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: 10px;
  left: 10px;
  background: #61d1b9;
  border-radius: 50%;

  @include tablet() {
    width: 21px;
    height: 21px;
    top: 14px;
    left: 14px;
  }

  //@include desktop() {
  //  top: 14px;
  //  left: 14px;
  //}
}

//-------------------------------Оформление CHECKBOX-------------------------------------
.form__group--color {
  padding-bottom: 22px;
}

.form__color {
  @include tablet() {
    background-color: #f1f1f1;
  }
}

.form__legend--color {
  @include tablet() {
    top: 68px;
  }
}

.label__checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 5px;

  @include tablet() {
    margin-right: 34px;
    margin-bottom: 24px;
    min-width: 204px;
  }

  @include desktop() {
    margin-right: 59px;
  }
}

.form__wrap--color {
  min-height: 358px;
  justify-content: space-between;
  padding-top: 8px;

  @include tablet() {
    flex-direction: row;
    min-height: auto;
    padding-top: 20px;
    padding-bottom: 4px;
  }

  @include desktop() {
    justify-content: flex-start;
  }
}

.checkbox {
  display: none;
}

.checkbox-custom {
  width: 37px;
  height: 37px;
  display: inline-block;
  border: 2px solid #434343;
  position: relative;
  cursor: pointer;

  @include tablet() {
    width: 50px;
    height: 48px;
  }
}

.checkbox:checked + .checkbox-custom::before {
  content: "";
  position: absolute;
  top: 25px;
  left: 6px;
  width: 10px;
  height: 3px;
  background: #000000;
  transform: rotate(50deg);

  @include tablet() {
    top: 28px;
    left: 7px;
    width: 17px;
  }
}

.checkbox:checked + .checkbox-custom::after {
  content: "";
  position: absolute;
  top: 19px;
  left: 9px;
  width: 25px;
  height: 3px;
  background: #000000;
  transform: rotate(-50deg);

  @include tablet() {
    top: 24px;
    left: 15px;
    width: 29px;
  }
}

//-------------------------------Оформление ФИО-------------------------------------
.form__full-name {
  background-color: #ffffff;
}

.form__legend--full-name {
  margin-bottom: 5px;

  @include tablet() {
    top: 67px;
  }
}

.form__wrap--full-name {
  padding-top: 24px;

  @include tablet() {
    margin-left: 166px;
    padding-bottom: 27px;
    padding-top: 21px;
  }

  @include desktop() {
    padding-right: 111px;
    margin-left: 113px;
  }
}

.label__full-name {
  @include tablet() {
    display: flex;
  }
}

.full-name {
  padding-bottom: 9px;

  @include tablet() {
    padding-bottom: 4px;
  }
}

.full-name__title {
  font-size: 17px;
  line-height: 18px;
  color: #000000;
  font-family: "OpenSansBold", "Arial", sans-serif;
  font-weight: bold;

  @include tablet() {
    font-size: 19px;
    padding-top: 17px;
    padding-right: 25px;
  }
}

.text-placeholder {
  width: 100%;
  padding: 0;
  padding-top: 18px;
  padding-bottom: 14px;
  border: none;
  border-bottom: 2px solid #000000;
  margin-bottom: 22px;
  box-sizing: border-box;

  &:hover,
  &:focus,
  &:active {
    border-color: #61d1b9;
  }

  &::placeholder {
    font-size: 17px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.3);
  }

  @include tablet() {
    padding-left: 16px;

    &::placeholder {
      font-size: 19px;
    }
  }
}

//-------------------------------Общее оформление КОНТАКТОВ-------------------------------------
.form__contacts {
  @include tablet() {
    background-color: #f1f1f1;
  }
}

.form__legend--contacts {
  @include tablet() {
    top: 68px;
  }
}

.form__wrap--contacts {
  @include tablet() {
    margin-left: 166px;
    position: relative;
  }

  @include desktop() {
    padding-right: 111px;
    margin-left: 111px;
  }
}

.text-placeholder--contacts {
  padding-right: 40px;
  padding-top: 22px;
  padding-bottom: 16px;

  @include tablet() {
    background-color: #f1f1f1;
    color: #444444;
    margin-bottom: 5px;
    padding-right: 40px;
  }
}

.icon-contacts {
  fill: #cccccc;
}

.label__contacts {
  font-size: 17px;
  line-height: 16px;
  color: #63d1bb;
  font-family: "OpenSansBold", "Arial", sans-serif;
  font-weight: bold;
  position: relative;
  display: block;
  text-transform: uppercase;

  &::after {
    position: absolute;
    display: block;
    content: "";
    height: 1px;
    background-color: #63d1bb;
    width: 76%;
    top: 50%;
    right: 0;
  }

  @include tablet() {
    position: absolute;
    left: -166px;
    top: 24px;

    &::after {
      display: none;
    }
  }

  @include desktop() {
    left: -113px;
  }
}

//.label__contacts:hover .icon-contacts,
//.label__contacts:focus .icon-contacts,
//.label__contacts:active .icon-contacts {
//  fill: #61d1b9;
//}
//-------------------------------Оформление ТЕЛЕФОН-------------------------------------
.form__wrap--phone {
  position: relative;
}

.icon-phone {
  position: absolute;
  width: 25px;
  height: 24px;
  right: 8px;
  top: 33px;
  fill: #cccccc;

  @include tablet() {
    right: 23px;
    top: 18px;
  }

  @include desktop() {
    right: 120px;
    top: 17px;
  }
}

.text-placeholder--contacts:hover + .icon-phone,
.text-placeholder--contacts:focus + .icon-phone,
.text-placeholder--contacts:active + .icon-phone {
  fill: #61d1b9;
}

.form__group--phone {
  border: none;
  padding-bottom: 12px;

  @include tablet() {
    padding-top: 35px;
    padding-bottom: 6px;
    top: 9px;
  }
}

//-------------------------------Оформление EMAIL-------------------------------------
.form__wrap--email {
  position: relative;
}

.label__email {
  position: relative;

  &::after {
    width: 69%;
  }

  @include tablet() {
    top: 40px;
  }
}

.icon-email {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 5px;
  top: 33px;
  fill: #cccccc;

  @include tablet() {
    right: 21px;
    top: 34px;
  }

  @include desktop() {
    right: 116px;
    top: 33px;
  }
}

.text-placeholder--contacts:hover + .icon-email,
.text-placeholder--contacts:focus + .icon-email,
.text-placeholder--contacts:active + .icon-email {
  fill: #61d1b9;
}

.form__group--email {
  padding-bottom: 12px;
  border: none;

  @include tablet() {
    padding-top: 0;
    padding-bottom: 45px;
  }
}

.form__legend--email {
  @include tablet() {
    top: 25px;
  }
}
//----------------------------------Оформление пожеланий--------------------------------
.form__group--wish {
  padding-bottom: 12px;
  border: none;
}

.form__legend--wish {
  @include tablet() {
    top: 68px;
  }
}

.form__wrap--wish {
  @include tablet() {
    margin-left: 166px;
  }

  @include desktop() {
    padding-right: 111px;
    margin-left: 111px;
  }
}

.label__wish {
  @include tablet() {
    top: 38px;
  }
}

.form__wish-textarea {
  padding-top: 10px;
  padding-left: 12px;
  margin-top: 24px;
  box-sizing: border-box;
  border: 2px solid #000000;
  height: 139px;
  width: 100%;

  &:hover,
  &:focus,
  &:active {
    border-color: #61d1b9;
  }

  &::placeholder {
    color: rgba(0, 0, 0, 0.3);
    padding-right: 60px;
    font-size: 17px;
    line-height: 18px;
  }

  @include tablet() {
    margin-top: 21px;

    &::placeholder {
      font-size: 19px;
    }
  }
}
//---------------------------------------------------------------------------------------
.form__wrap-bottom {
  padding-bottom: 55px;

  @include tablet() {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 38px;
    padding-bottom: 50px;
  }

  @include desktop() {
    padding-top: 36px;
    padding-right: 111px;
    padding-left: 111px;
  }
}

.form__bottom {
  font-size: 14px;
  line-height: 16px;
  color: #444444;
  display: inline-block;
  padding-bottom: 31px;

  @include tablet() {
    font-size: 17px;
    line-height: 30px;
    order: 2;
    padding-bottom: 0;
  }
}

.form__toggle {
  width: 100%;
  text-transform: uppercase;

  @include tablet() {
    padding-left: 31px;
    padding-right: 31px;
    width: auto;
    order: 1;
  }
}
