.order-page__block {
  max-width: 1150px;
  margin: 0 auto;
  padding-top: 22px;
  padding-bottom: 24px;

  @include tablet() {
    padding-top: 62px;
  }

  @include desktop() {
    padding-top: 111px;
  }
}

.order-page__block-manual {
  padding: 0;
  margin: 0;

  @include tablet() {
    font-size: 17px;
    line-height: 30px;
  }

  @include desktop() {
    padding-left: 112px;
    padding-right: 112px;
  }
}
